.hide {
    display: none !important;
}

html {
     height:100%; 
     margin: 0;
     padding: 0;
     touch-action: manipulation;
    }

    body {
        font-family: 'Muli', sans-serif;
        color: white;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-size: cover;
        background-image: url("../img/stuntbackground.svg");
        background-position-y: 70%;
        background-repeat: no-repeat;
    
    }
    
    header{
        width: 100%;
        height:10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(43, 43, 43, 0.5);
    }
    
    #title{
        text-align: left;
        font-size: 2vmax;
        margin: 0;
    }    

    main{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }


.moreinfocontainer{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moreinfoform{
    width: 95%;
    height: 95%;
    background-color: rgba(43, 43, 43, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.techinfosec{
    height:12%;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rulessec{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rulecontainer{
    padding: 1vmin;
}

.submitsec{
    height:50%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#window{
    width:100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


#billboardPole{
    width: 2vmax;
    height: 10%;
    background-color: #404040;
    border-color:  #404040;
    border-style: solid;
    border-width: 5px;
    border-top: 0;
    border-bottom: 0;
}

#billboard{
    width: 99.56vmin;
    height: 56vmin;
    border-color:  #2b2b2b;
    border-style: solid;
    border-width: 6px;
    background-color:  #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

footer{
    width: 100%;
    height:20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(43, 43, 43, 0.95);
}

#interactiveZone {
height: 100%;
width: 50%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

#infoZone{
height: 100%;
width: 50%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}


.basicInfoSlot{
    font-size: 18px;
    text-align: center;
    margin: 0;
}

p.title{
    font-size: 40px;
    text-align: center;
    margin: 0;
}

p.abouttext{
    font-size: 18px;
    text-align: center;
    margin-top:0;
    margin-bottom:0;

    margin-left: 2vmin;
    margin-right: 2vmin;
}

#pricebanner{
    margin: 0;
    font-size: 16px;
}

.ruleSlot{
    font-size: 2vmin;
    text-align: center;
    margin: 0;
}

.basicInfoSlotWrapper{
    height: 75%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
}

#submitSlotWrapper{
    height: 100%;

}

#filename{
    margin:0;
    text-decoration: underline;
}

#submitmsg{
    text-align: center;
}

#loadingSpinner{
margin-top: 0;
margin-bottom: 0;
}

#loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loadingmsg{
    font-size: 16px;
    margin:0;
}

.aboutwrapper{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    margin-top: 15px;
}

.formSlotWrapper{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#picform{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#etherAmountContainer{
    width: 85%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#etherAmount{
    width: 25%;
    height: 50%;
    border-width: 0;
    text-align: center;
    margin-left: 2%;
    font-size: 22px;
}

#moreInfo{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainButton{
    width: 90%;
    height: 75%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    background-color: rgba(30, 52, 142, 0);
    color: white;
    font-size: 22px;
    border-radius: 10px;
}

.mainButton:disabled{
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}


.deadButton{
    width: 85%;
    height: 75%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    background-color: rgba(30, 52, 142, 0);
    color: white;
    font-size: 22px;
    border-radius: 10px;

}

.subinfo {
    font-size: 22px;
}

#impressions{
    width: 20%;
}

#currimg{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#buy{
    width: 20%;
}

#about{
    width: 20%;
}

#tech{
    width: 20%;
}

#nextpic{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label{
    font-size: 22px;
    text-align: center;
}

#choosepic{
    width: 85%;
    height: 75%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 10px;
}

#twitter{
color: white;
font-size: 4vmax;
}

.address{
    color: white;
}

.mainButtonbtnd:focus, .mainButton:active {
    background-color: rgba(0,0,0,0.5);
    transform: translateY(5px);
    border-style: solid;
  }

.submiterror{
    font-size: 18px;
}

.tippy-tooltip.stunt-theme {
    font-size: 13px;
    font-family: 'Muli', sans-serif;
  }

.green{
background-color: #68ff75; 
}

.red{
    background-color: #ff6363;
}

@media only screen 
and (min-width : 1224px) {
.mainButton:hover {
    background-color:rgba(0,0,0,0.5);
}

#choosepic:hover{
    background-color:rgba(0,0,0,0.5);
}
}



@media only screen
and (max-width: 1024px){

    #billboard{
        width: 92vmin;
        height: 51.74vmin;
    }

    #window{

        height: 67%;

    }
    #billboardPole{
        height: 33%;

    }

    .mainButton{
        font-size: 16px;
    }
    .deadButton{
        font-size: 16px;
    }
    #pricebanner{
        margin: 0;
        font-size: 12px;
    }
    #loadingmsg{
        font-size: 12px;
    }
}


@media only screen 
and (max-width : 768px) {



    #title {
        text-align: center !important;
        font-size: 4vmax;
        margin: 0;
    }

    body {
        background-size: 330%;
        background-position-y: 100%;

    }
    #etherAmount{
        font-size: 12px;

    }
    #choosepic{
        font-size: 12px;
    }
    .subinfo {
        font-size: 9px;
    }
    .basicInfoSlot{
        font-size: 12px;
    }
    .submiterror{
        font-size: 10px;
    }
    label{
    font-size: 12px;
    }
    p.title{
        font-size: 18px;
    }p.abouttext{
        font-size: 12px;
    }.tippy-tooltip.stunt-theme {
        font-size: 8px;
    }

}


@media only screen 
and (max-width : 450px) {

    body {
        background-size: 400%;
        background-position-y: 100% !important;
    }
    .mainButton{
        font-size: 12px !important;
    }
    .deadButton{
        font-size: 12px !important;
    }
    p.abouttext{
        font-size: 11px;

    }
}



